<div class="container p-5 ">
  <h4>Add performer details:</h4>
    <%= simple_form_for @performer_profile  do |f| %>
    <%= f.input :stage_name %>
    <%= f.input :bio %>
     <%= f.input :photo %>
    <%= f.submit "create", class: "btn btn-success" %>
  <% end %>
</div>
