<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to "#", class: "navbar-brand d-flex just-content-between" do %>
  <%#= image_tag "https://res.cloudinary.com/dri7xzd5a/image/upload/v1583272495/logo_yng7bv.png" %>
    <h4 class= "company">streemer</h4>
  <% end %>


  <% if  current_user %>
    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag "https://res.cloudinary.com/dri7xzd5a/image/upload/v1583346474/yael_i2g4li.jpg", class: "avatar dropdown-toggle" %>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <% if current_user.performer? %>
        <%= link_to "Start a performance!", new_event_path, class: "dropdown-item" %>
        <% elsif %>
         <%= link_to "Become a performer", new_performer_profile_path, class: "dropdown-item" %>
      <% end %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  <% else %>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  <% end %>


</div>
