<div class="container">

<h2 class="text-center" >Current Events</h2>

<div class="container">
    <% @live_events.each_with_index do |event, index| %>
      <div class="card mb-3 ">
        <div class="container card-header d-flex justify-content-between">
          <h5 class=""><%= link_to event.name, event_path(event), class: "text-decoration-none" %></h5>
          <!-- ============================================================= -->
          <%= render 'counter', event: event, index: index  %>
          <!-- ============================================================= -->
          <i class="far <%= @icons[index] %>"></i>
        </div>
        <div class="card-body d-flex justify-content-between">
          <%= render "users/avatar", user: event.performer_profile.user %>
          <h5 class="card-text text-center"><%= distance_of_time_in_words(Time.now, event.starts_at, true) %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
