  <div class="container">
  <%= simple_form_for @event do |e| %>
    <h2 class="text-center">Create an event</h2>
      <%= e.input :name %>
      <%= e.input :description %>
      <%= e.input :location %>
      <%= e.input :twitch_id%>
      <%= e.input :starts_at, html5: true %>
      <%= e.input :ends_at, html5: true %>
      <%= e.input :photo, as: :file %>
      <%= e.submit "Create", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
