<div class="container-fluid event-show p-0">
  <h5 class="ml-2 pt-1 mt-3 mb-3">
    <div class="d-flex justify-content-around">
      <div><%= @event.name %></div>
      <div><%= link_to "About", performer_path(@event.performer_profile.user), class: "btn btn-success rounded text-white px-4" %></div>
    </div>
  </h5>

  <iframe
      src="https://player.twitch.tv/?autoplay=false&video=v174097199"
      height="420"
      width="414"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true">
  </iframe>

      <div><%= submit_tag "Tip", class: "btn btn-success btn-block rounded text-white px-4" %></div>


<p class="ml-2 mt-4">Live Comments</p>
<% if @event.comments.blank? %>
  <p class="ml-2">Share your thoughts!</p>
<% else %>
<% @event.comments.last(10).each do |comment| %>
    <p class="ml-2"><%= comment.content %></p>
  <% end %>
<% end %>

    <%= simple_form_for [@event, @comment] do |f| %>
      <%= f.input :content, label: false, placeholder: "Comment something nice..." %>
      <%= f.submit "add a comment", class: "btn btn-success" %>
    <% end %>

</div>

