<div class="container-fluid event-show p-0">
  <h5 class="ml-2 pt-1 mt-3 mb-3">
    <div class="d-flex justify-content-around">
      <div><%= @event.name %></div>
      <div><%= link_to "About performer", performer_path(@event.performer_profile.user), class: "btn btn-success rounded text-white px-4" %></div>
    </div>
  </h5>


  <% if @event.twitch_id? %>
    <iframe
      src= "<%= @event.twitch_id %>"
      height="420"
      width="414"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true">

    </iframe>
  <% else %>
  <%= cl_image_tag(@event.photo.key,
      width: 414, height: 420, crop: :fit) %>
  <% end %>

  <div class= "mt-3"></div>

  <%= render "tips/buttons", performer_profile: @event.performer_profile %>

<!-- ======================================================================= -->
  <% unless @event.starts_at.future? %>
      <p class="ml-2 mt-4 mb-1">Live Comments</p>

      <%= simple_form_for [@event, @comment] do |f| %>
        <%= f.input :content, label: false, placeholder: "Comment something nice..." %>
    <!--     <%#= f.submit "add", class: "ml-3 btn btn-info" %> -->
      <% end %>

      <p class="ml-2">What people are saying!</p>
      <% else %>
    <% @event.comments.last(5).each do |comment| %>
      <p class="ml-2"><%= comment.content %></p>
    <% end %>
  <% end %>
</div>
