<div class="performer-banner performer-gradient position-relative">
  <%= render 'performer-show-card', performer: @performer %>
  <%= render 'performer-follow-button' %>
  <%= render 'performer-show-button' %>
</div>


<h3 class="ml-2 mt-4">What people say</h3>
<% if @performer.reviews.blank? %>
  <p class="ml-2">Be the first to write a review!</p>
<% else %>
<% @performer.reviews.last(5).each do |review| %>
    <p class="ml-2"><%= review.content %></p>
  <% end %>
<% end %>
<h3 class="ml-2">Write a review!</h3>
<%= render 'reviews/form', performer: @performer, review: @review %>
