<div class="performer-banner performer-gradient position-relative">
  <%= render 'performer-show-card', performer: @performer %>
  <%= render 'performer-follow-button' %>
  <%= render 'performer-show-button' %>
</div>







<h2>What people</h2>
<% if @performer.reviews.blank? %>
  <p>Be the first to write a review!</p>
<% else %>
<% @performer.reviews.last(5).each do |review| %>
    <p><%= review.content %></p>
  <% end %>
<% end %>
<h3>Write a review!</h3>
<%= render 'reviews/form', performer: @performer, review: @review %>
